body{
	border: 1px solid navy;
}

header {
	border: 1px solid navy;
	height: 20px;
}

section {
	position:absolute;
	border:1px solid navy;
	left:12%;
	width: 645px;
}

aside {
	border:1px solid navy;
	position:absolute;
	right:20%;
}

#name {
	position:fixed;
	border: 1px solid navy;
	top:0;
	left: 12%;	
}

#nav {
	border:1px solid navy;
	position: fixed;
	top:0;
	right: 20%;
}
/* should header and nav remain fixed or should we have them disappear when scrolling down? */
#relative {
	border: 1px solid navy;
	position:relative;
	top:30px;
	height:634px;
}

#profile {
	float:left;
	border:1px solid navy;
}

#about {
	border: 1px solid navy;
	width:auto;
	height:auto;
}
/* will it work fixed? it doesns't have a parent. elements inside need ids and classes and i can position absolute */
footer {	
	position:fixed;
	border:1px solid navy;
	height: 20px;
	bottom:0;
	width:100%;
}

#footer {
	border:1px solid navy;
	position:relative;
	bottom:0;
	clear:both;
	text-align: center;
}
/* footer overlaps text currently on scroll down*/
